{% load static %}
<html>
<head>
    <title>Vitor's Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<div>
    <img src="{% static 'images/buserlogo.png' %}" width="110" height="110" style="position:absolute; left:5%; top:5px">
</div>
<div>
    <img src="{% static 'images/netflix.png' %}" width="180" height="90" style="position:absolute; right:8%; top:15px">
</div>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu" ><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
    <h1> <a href="/">Top 10 Filmes Netflix</a> </h1>
</div>
<div class="content container">
    {% if user.is_authenticated %}
        <p class="frase-logout">~ Olá {{user.username}}!!</p>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>